* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

h1 {
  padding-top: 110px;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
  padding-inline: 20px;
}

section {
  padding-inline: 20px;
  margin: 0.5em;
  width: calc(33.33vw - 1.2em);
  height: calc(33.33vh - 1em);
  display: inline-block;
  background-color: red;
  background-size: 150px;
  background-position: center 10%;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.cards1 {
  background-image: url(/image/acura_PNG118.png);
}

.cards2 {
  background-image: url();
}

.cards3 {
  background-image: url();
}

.cards4 {
  background-image: url();
}

.cards5 {
  background-image: url();
}

.cards6 {
  background-image: url();
}

.cards7 {
  background-image: url();
}

.cards8 {
  background-image: url();
}

.cards9 {
  background-image: url();
}