* {
  box-sizing: border-box;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
}

nav {
  margin: 0.5em;
  font-size: 18px;
  text-align: center;
  background-color: #e7a01c;
  text-decoration: none;
  border-radius: 20px;
  width: 130px;
}

/* a {
  font-size: 18px;
  text-align: center;
  background-color: #e7a01c;
  text-decoration: none;
  border-radius: 20px;
  width: 130px;
  display: block;
  transition: 0.5s;
} */

/* a:hover {
  width: 160px;
  background-color: red;
  transition: 0.7s;
} */

h1 {
  padding-top: 110px;
  text-align: center;
}

p {
  font-size: 18px;
  text-align: center;
}

section {
  margin: 0.5em;
  width: calc(33.33vw - 1.2em);
  height: calc(33.33vh - 1em);
  display: inline-block;
  background-color: #e7a01c;
  background-size: 150px;
  background-position: center 10%;
  background-repeat: no-repeat;
  border-radius: 20px;
}

.cards1 {
  background-image: url(/image/acura_PNG118.png);
}

.cards2 {
  background-image: url(/image/audi_PNG99482.png);
}

.cards3 {
  background-image: url(/image/bmw_PNG99543.png);
}

.cards4 {
  background-image: url(/image/rolls_royce_PNG12.png);
}

.cards5 {
  background-image: url(/image/maserati_PNG102.png);
}

.cards6 {
  background-image: url(/image/nissan_PNG68.png);
}

.cards7 {
  background-image: url(/image/bentley_PNG32.png);
}

.cards8 {
  background-image: url(/image/ferrari_PNG10647.png);
}

.cards9 {
  background-image: url(/image/land_rover_PNG16.png);
}